@font-face {
    font-family: depixel;
    src: url(./assets/depixel/DePixelBreit.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/bg\ image.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    z-index: -1;
} 

.container {
    width: 100%;
    min-height: 100vh;
    position: relative; 
}

.navbar{
    width: 100%;
    height: 54px;
    background-color: #D9D9D9;
    position: relative;
    z-index: 1;
    border: 4px solid #9C9C9C;
    box-shadow: 0px 4px 4px #000000;
    display: flex;
    align-items: center;
}

.text{
    font-family: 'depixel';
    font-weight: bold;
    font-size: 18px;
}


.nav-text {
    font-family: 'depixel';
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 20px;
}

.icon {
    height: 20px;
    width: auto;
}

.cfile {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 30px;
}


.file {
    display: block;
    margin: 0 auto;
}

#cfile {
    display: block;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.computer{
    position: absolute;
    top: 360px;
    left: 0px;
    color: white;
    text-align: center;
}

.computer img {
    width: 80px;
}

#comp {
    font-size: 14px;
    margin-top: 5px;
}

.bottomnav{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.bottomnav > img {
    display: block;
}

.righticons{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    right: 30px;
    top: 49px;
    transform: translateY(-50%);
    z-index: 2;
}

.righticons img {
    height: 45px;
    width: auto;
}

.filexp{
    position: absolute;
    height: 420px;
    width: 750px;
    background-color: #E8E8E8;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #000000;
    box-shadow: 2px 2px 0px #000000;
}

.textbar{
    width: 100%;
    height: 35px;
    background-color: #D9D9D9;
    border-bottom: #000000 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filetxt{
    font-family: 'depixel';
    font-weight: bold;
    font-size: 16px;
}

.line{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
}

p {
    font-family: 'depixel';
    font-weight: bold;
    font-size: 14px;
}

.filexp .computer {
    position: absolute;
    top: 60px;
    left: 20px;
    color: black;
    display: flex;
    align-items: center;
    gap: 15px;
}

.filexp .computer img {
    width: 50px;
    height: auto;
}

.desktop {
    font-size: 16px;
    margin-top: 0;
}

.ldc, .nvd, .nve {
    position: absolute;
    margin-top: 40px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ldc {
    top: 120px;
}

.nvd {
    top: 165px;
}

.nve {
    top: 210px;
}

.arrow {
    width: 15px;
    height: auto;
}

.smalldisk {
    width: 35px;
    height: auto;
}

.c, .d, .e {
    font-size: 16px;
    color: black;
}

.drive-small {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ldc { top: 120px; }
.nvd { top: 165px; }
.nve { top: 210px; }

.arrow {
    width: 15px;
}

.smalldisk {
    width: 35px;
}

.divider {
    position: absolute;
    top: 120px;      
    left: 260px;     
    height: 150px;   
}


.drive-info {
    position: absolute;
    top: 95px;          
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;           
}

.drivebox {
    display: flex;
    align-items: center;
    gap: 15px;           
    font-family: depixel;
    color: black;
    font-size: 14px;
}
.drivebox img:first-child {
    width: 55px;
    height: auto;
}


.drivebox .info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.drivebox .info img {
    width: 170px;       
}

#fileExplorer { display: none; }

.computer,
.cfile,
.righticons img,
.icons img {
    cursor: pointer;
}
.computer:hover img,
.cfile:hover img {
    filter: brightness(1.3);
    transform: scale(1.05);
    transition: 0.12s ease;
}

.computer:hover p,
.cfile:hover p {
    color: #e2e2e2;
    transition: 0.12s ease;
}
.icons img:hover {
    transform: scale(1.15);
    transition: 0.12s ease;
}
.righticons img:hover {
    transform: scale(1.15);
    filter: brightness(1.2);
    transition: 0.12s ease;
}
